* {
    margin: 0;
    padding: 0;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

body {
    background-color: #ce9461;
}

.block {
    width: auto;
    height: auto;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background: #ce9461;
    box-shadow: 0px 0px 100px rgba(0, 0, 0, 0.25);
    padding: 90px;
}

.text {
    text-align: center;
    font-weight: 700;
    font-size: 56px;
    color: #ffffff;
}

form {
    width: auto;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
}

input {
    width: 626px;
    height: 77px;
    background: #fcffe7;
    border-radius: 10px;
    padding: 0 26px;
    border: none;
    margin-top: 20px;
    font-size: 20px;
    font-weight: 700;
}

input::placeholder {
    font-size: 20px;
    font-weight: 700;
    color: rgba(0, 0, 0, 0.38);
}

form button {
    width: 100%;
    height: 77px;
    background: #fcffe7;
    border-radius: 10px;
    border: none;
    margin-top: 20px;
    font-weight: 700;
    font-size: 24px;
}

.info {
    font-weight: 700;
    font-size: 16px;
    text-align: center;
    color: rgba(255, 255, 255, 0.56);
    margin-top: 27px;
}

.foto {
    width: 257.56px;
    height: 46.4px;
    margin: 27px auto;
    display: flex;
    justify-content: space-between;
}

.foto img:hover {
    cursor: pointer;
}

.not_done {
    position: absolute;
    width: 360px;
    height: 71px;
    left: 30px;
    bottom: 110px;
    font-weight: 400;
    font-size: 18px;
    display: flex;
    align-items: center;
    color: #ffffff;
    background: #bf3737;
    box-shadow: 0px 0px 10px #bf3737;
    border-radius: 10px;
    justify-content: center;
}

.done {
    position: absolute;
    width: 360px;
    height: 71px;
    left: 30px;
    bottom: 30px;
    font-weight: 400;
    font-size: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #ffffff;
    background: #57bf37;
    box-shadow: 0px 0px 10px #57bf37;
    border-radius: 10px;
}

@media only screen and (max-width: 864px) {
    .block {
        box-shadow: none;
        padding: 20px;
    }
}

@media only screen and (max-width: 732px) {
    .block {
        box-shadow: none;
        padding: 20px;
    }

    input {
        width: 400px;
        height: 60px;
    }

    form button {
        width: 100%;
        height: 60px;
    }
}

@media only screen and (max-width: 732px) {
    .block {
        box-shadow: none;
        padding: 20px;
    }

    .text {
        font-weight: 700;
        font-size: 50px;
        text-align: center;
        color: #ffffff;
    }

    input {
        width: 369px;
        height: 56px;
        margin-top: 15px;
    }

    form button {
        width: 100%;
        height: 60px;
    }

    .foto img {
        width: 184px;
        height: 33.15px;
    }
}

@media only screen and (max-width: 440px) {
    input {
        width: 330px;
        height: 56px;
        margin-top: 15px;
    }
}

.lds-ring {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
}
.lds-ring div {
    box-sizing: border-box;
    display: block;
    position: absolute;
    width: 64px;
    height: 64px;
    margin: 8px;
    border: 8px solid #fff;
    border-radius: 50%;
    animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    border-color: #fff transparent transparent transparent;
}
.lds-ring div:nth-child(1) {
    animation-delay: -0.45s;
}
.lds-ring div:nth-child(2) {
    animation-delay: -0.3s;
}
.lds-ring div:nth-child(3) {
    animation-delay: -0.15s;
}
@keyframes lds-ring {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}


.bg{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #00000050;
    backdrop-filter: blur(10px);
    display: flex;
    align-items: center;
    justify-content: center;
}

.bg.active{
    display: none;
}