* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

:root {
    --f-f: "Montserrat", sans-serif;
}

.default-with {
    padding: 15px;
    background: #ce9461;
    margin: 0 auto;
}

header {
    display: flex;
    justify-content: space-between;
}

.no_under_line {
    text-decoration: none;
    color: black;
}

.no_under_line img {
    width: 124px;
    height: 53px;
}

.right {
    display: flex;
    align-items: center;
}

.like {
    width: 30px;
    height: 25px;
}

.round {
    margin-left: 20px;
    width: 25px;
    height: 25px;
    background: #ffffff;
    border-radius: 100%;
    font-weight: 600;
    font-size: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.languetch {
    margin-left: 20px;
    font-weight: 600;
    font-size: 14px;
    color: #ffffff;
}

.languetch:hover {
    cursor: pointer;
}

.menu {
    margin-top: 25px;
}

.Coffee {
    font-family: var(--f-f);
    font-weight: 700;
    font-size: 32px;
    color: #ffffff;
}

.sort,
.size,
.color {
    width: 91.66px;
    height: 34.56px;
    border: 2px solid #f3f3f3;
    border-radius: 7px;
    background-color: transparent;
    display: flex;
    align-items: center;
    font-family: var(--f-f);
    font-weight: 700;
    font-size: 13px;
    color: #ffffff;
}

nav h1 {
    font-size: 20px;
    color: white;
    margin-top: 20px;
}
.t {
    font-family: var(--f-f);
    font-weight: 700;
    font-size: 13px;
    color: #ffffff;
    margin-left: 8px;
}

.blocks {
    margin-top: 15px;
    display: grid;
    grid-auto-rows: 250px;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
    align-items: flex-end;
}

.blocks .item h1 {
    font-weight: 600;
    font-size: 14px;
}
.blocks .item .text {
    position: absolute;
    bottom: 15px;
    z-index: 15;
}
.blocks .item span {
    font-weight: 600;
    font-size: 10px;
    z-index: 15;
}
.blocks .item:hover {
    cursor: pointer;
    transform: scale(1.055);
    box-shadow: 0 0 10px 0 rgb(35, 118, 7);
}
.blocks .item {
    height: 100%;
    width: 100%;
    transition: 0.3s ease;
    color: white;
    position: relative;
    padding: 18px;
    border-radius: 20px;
    background-position: center;
    background-size: cover;
}
.blocks .item:nth-child(1) {
    background-image: url(../images/person/sidit.png);
}
.blocks .item:nth-child(2) {
    background-image: url(../images/person/alex.png);
}
.blocks .item:nth-child(3) {
    background-image: url(../images/person/me.png);
}
.blocks .item:nth-child(4) {
    background-image: url(../images/person/iposh.png);
}
.blocks .item:nth-child(5) {
    background-image: url(../images/person/tiana.png);
}
.blocks .item:nth-child(6) {
    background-image: url(../images/person/boroda.png);
}

.blocks .item:before {
    border-radius: 20px;
    z-index: 11;
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: linear-gradient(
        180deg,
        rgba(0, 0, 0, 0) 0%,
        rgba(0, 0, 0, 0) 34.9%,
        rgba(0, 0, 0, 0.68) 91.67%,
        rgba(0, 0, 0, 0.73) 100%
    );
    opacity: 0.9;
}

.div {
    position: relative;
}

.div img {
    border-radius: 12px;
    max-width: 175px;
}

.small_like {
    position: absolute;
    width: 30px;
    height: 30px;
    top: 10px;
    right: 10px;
}

.small_like:hover {
    cursor: pointer;
}

.bg {
    display: none;
}

.bg .block {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 100;
    background-color: #00000050;
    backdrop-filter: blur(10px);
    align-items: center;
    justify-content: center;
}

.bg.active{
    display: block;
}

.rectanagle {
    z-index: 101;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 359px;
    height: 127px;
    padding: 19px 25px;
    background-color: white;
}
.rectanagle h1 {
    font-weight: 600;
    font-size: 14px;
    color: #000000;
}
.rectanagle form button {
    width: 100px;
    margin-top: 10px;
    height: 21px;
    background: #57bf37;
    border: none;
    font-weight: 600;
    font-size: 10px;
    color: white;
}
.rectanagle form span{
    margin-left: 10px;
}
.rectanagle form span:hover, button:hover{
    cursor: pointer;
}
