* {
    font-family: "Gilroy";
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}
main {
    padding: 10px;
}
.form {
    position: relative;
    height: 100vh;
    width: 100wh;
}
form {
    display: flex;
    position: absolute;
    z-index: 15;
    top: 50%;
    height: clamp(300px, 500px, 900px);
    left: 50%;
    transform: translate(-50%, -50%);
    flex-direction: column;
    width: 600px;
    align-items: center;
    h1 {
        font-size: 44px;
        line-height: 48px;
        margin-bottom: 10px;
    }
    .isDone {
        display: flex;
        flex-direction: row;
        p {
            display: block !important;
            margin-top: 0px;
            color: black;
        }
    }

    div,
    input {
        display: flex;
        flex-direction: column;
        text-align: left !important;
        p {
            display: none;
            width: 100%;
            color: red;
            margin-top: -15px;
        }
        margin: 5px 0;
        outline: 0;
        font-size: 16px;
        color: #191c21;
        font-weight: 600;
        width: 100%;
        min-width: 220px;
        border: 1px solid #f0f0f0;
        background-color: transparent;
        padding: 16px;
        border-radius: 6px;
        min-height: 52px;
        position: relative;
        box-shadow: inset -3px 3px 17px rgba(0, 0, 0, 0.1);
        &::placeholder {
            font-weight: 600;
        }
        input[type="checkbox"] {
            left: 0;
            padding: 0;
            margin: 0;
            min-width: auto;
            box-shadow: none;
            width: 30px;
            height: 30px;
        }
    }
    div {
        display: flex;
        align-items: center;
        padding: 0;
        grid-gap: 10px;
        box-shadow: none;
        border: none;
    }
}

button {
    border-radius: 6px;
    width: 100%;
    font-size: 16px;
    padding: 16px;
    margin: 5px 0;
    border: none;
    background-color: transparent;
    border: 2px solid blue;
    transition: 0.5s ease;
    &:hover {
        cursor: pointer;
        background-color: rgb(0, 0, 255);
        color: white;
    }
    &.active {
        color: white;
        background-color: blue;
        border: 2px solid blue;
    }
}

.wrapper {
    display: grid;
    grid-gap: 15px;
    grid-template-columns: repeat(4, 1fr);
    .item {
        display: flex;
        flex-direction: column;

        img {
            width: 90%;
            max-height: 150px;
            min-height: 150px;
            object-fit: contain;
        }
    }
    .bottom {
        margin-top: 10px;
        line-height: 18px;
    }
}

.buttons {
    display: flex;
    grid-gap: 10px;
    width: 200px;
    button {
        font-size: 16px;
        font-weight: 600;
        text-transform: uppercase;
    }
}

.modals {
    position: fixed !important;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    padding: 10px;
    align-items: flex-end;
    z-index: 10;
    .success,
    .notSuccess {
        width: clamp(100px, 200px, 300px);
        border-radius: 12px;
        height: 60px;
        background: #1ca345;
        box-shadow: 0px 0px 16px #1ca3455c;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 16px;
        padding: 16px 34px 16px 24px;
        transform: translateX(-300px);
        transition: 0.7s ease;
        color: white;
        opacity: 0;
        &.active {
            opacity: 1;
            transform: translateX(0);
        }
    }
    .notSuccess {
        background: #a31c1c;
        box-shadow: 0px 0px 16px #ff04045c;
    }
}

.data {
    z-index: 15;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: 100px;
    width: 95%;
    position: relative;
    margin: 0 auto;
    grid-gap: 10px;
    .item {
        border-radius: 10px;
        padding: 10px;
        display: block;
        color: black;
        border: 2px solid blue;
        position: relative;
        overflow: hidden;
        .del{
            position: absolute;
            bottom: 5px;
            right: 5px;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 50%;
            width: 25px;
            height: 25px;
            background-color: red;
            p{
                font-weight: 600;
                color: white;
            }
        }
        &:hover{
            cursor: pointer;
        }

        .title {
            font-size: 18px;
            font-weight: 700;
        }
        .head {
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin-bottom: 5px;
            .isDone {
                font-size: 16px;
            }
        }
    }
}
