<link rel="stylesheet" href="./css/style.css">

<main>
    <div class="buttons">
        <button data-value="news">News</button>
        <button data-value="products">Products</button>
    </div>
    
    <div class="wrapper">
        Выберите что хотите увидеть!
    </div>
</main>

<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.27.1/axios.min.js"></script>
<script src="button.js"></script>   